.card { 
    width: 784px;
    height: 80px;
    background-color: rgba(219, 219, 219, 0.64);
    border-radius: 8px;
    margin-left:55px;
}

.card-items{
    display:flex;
    direction:row;
    justify-content: space-around;
    padding:30px;

}
.image {
    top: 972px;
    left: 79px;
    width: 19px;
    height: 19px;
    border-radius: 8px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-right:4px;
    
  }
.text {
    color: #030303;
    font-size: 24px;
    font-family: "Montserrat";
    font-weight: 600;
    line-height: 31px;
    padding-left:55px;
  }
.text-sports {
    color: #000000;
    font-size: 18px;
    font-family: "Roboto";
    line-height: 23px;
  }
  .about-container {
    display: flex;
    align-items: center;
    gap:685px; 
}  
.share-icon {
    color: #030303;
    fill: #030303;
    font-size: 24px;
    top: 565px;
    left: 808px;
    width: 24px;
    height: 24px;
  }  
    