.card { 
    top: 942px;
    left: 53px;
    width: 784px;
    height: 80px;
    background-color: rgba(219, 219, 219, 0.64);
    border-radius: 8px;
}

.card-items{
    display:flex;
    direction:row;
    justify-content: space-around;
    padding:30px;

}
.image {
    top: 972px;
    left: 79px;
    width: 19px;
    height: 19px;
    border-radius: 8px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-right:4px;
    
  }
  .text {
    color: #000000;
    font-size: 18px;
    font-family: "Roboto";
    line-height: 23px;
  }  